In [1]:
import tensorflow

In [2]:
tensorflow.__version__

'2.5.0'

In [3]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
import tensorflow
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [4]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [5]:
data.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [7]:
X = data.iloc[:,3:13]
y = data.iloc[:,13]

In [14]:
X = pd.get_dummies(X,prefix=['Geography','Gender'],drop_first=True)
X.head()

   CreditScore  Age  Tenure  ...  Geography_Germany  Geography_Spain  Gender_Male
0          619   42       2  ...                  0                0            0
1          608   41       1  ...                  0                1            0
2          502   42       8  ...                  0                0            0
3          699   39       1  ...                  0                0            0
4          850   43       2  ...                  0                1            0

[5 rows x 11 columns]

In [15]:
X_train , X_test , y_train , y_test = train_test_split(X,y,test_size=0.2,random_state=365)

In [16]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [17]:
model = Sequential()
# Hidden Layer
model.add(Dense(200,activation='relu'))
model.add(Dense(150,activation='sigmoid'))
model.add(Dense(190,activation='relu'))
model.add(Dense(70,activation='relu'))
# Output layer
model.add(Dense(1,activation='sigmoid'))

In [18]:
model.compile(optimizer='sgd',loss='binary_crossentropy',metrics=['accuracy'])

In [20]:
model.fit(X_train,y_train,epochs=100)

Epoch 1/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3320 - accuracy: 0.8610
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3295 - accuracy: 0.8655
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3304 - accuracy: 0.8640
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3301 - accuracy: 0.8669
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3298 - accuracy: 0.8658
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3297 - accuracy: 0.8659
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3285 - accuracy: 0.8660
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3293 - accuracy: 0.8662
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3272 - accuracy: 0.8664
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3274 - accuracy: 0.8661
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3283 - accuracy: 0.8659
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3276 - accuracy: 0.8683
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3276 - accuracy: 0.8673
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3270 - accuracy: 0.8668
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3270 - accuracy: 0.8670
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3258 - accuracy: 0.8690
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3267 - accuracy: 0.8671
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3261 - accuracy: 0.8656
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3256 - accuracy: 0.8691
Epoch 20/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3261 - accuracy: 0.8670
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3241 - accuracy: 0.8680
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3240 - accuracy: 0.8687
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3247 - accuracy: 0.8671
Epoch 24/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3250 - accuracy: 0.8673
Epoch 25/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3241 - accuracy: 0.8685
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3227 - accuracy: 0.8708
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3228 - accuracy: 0.8694
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3224 - accuracy: 0.8689
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3224 - accuracy: 0.8686
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3234 - accuracy: 0.8681
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3216 - accuracy: 0.8699
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3213 - accuracy: 0.8706
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3217 - accuracy: 0.8695
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3219 - accuracy: 0.8677
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3215 - accuracy: 0.8720
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3204 - accuracy: 0.8681
Epoch 37/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3211 - accuracy: 0.8700
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3207 - accuracy: 0.8704
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3207 - accuracy: 0.8700
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3197 - accuracy: 0.8671
Epoch 41/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3199 - accuracy: 0.8692
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3196 - accuracy: 0.8711
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3186 - accuracy: 0.8705
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3190 - accuracy: 0.8716
Epoch 45/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3185 - accuracy: 0.8734
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3177 - accuracy: 0.8724
Epoch 47/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3177 - accuracy: 0.8708
Epoch 48/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3186 - accuracy: 0.8683
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3180 - accuracy: 0.8709
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3179 - accuracy: 0.8714
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3168 - accuracy: 0.8714
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3171 - accuracy: 0.8719
Epoch 53/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3179 - accuracy: 0.8723
Epoch 54/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3158 - accuracy: 0.8726
Epoch 55/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3166 - accuracy: 0.8702
Epoch 56/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3160 - accuracy: 0.8730
Epoch 57/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3148 - accuracy: 0.8744
Epoch 58/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3158 - accuracy: 0.8719
Epoch 59/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3138 - accuracy: 0.8720
Epoch 60/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3150 - accuracy: 0.8737
Epoch 61/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3145 - accuracy: 0.8724
Epoch 62/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3146 - accuracy: 0.8749
Epoch 63/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3141 - accuracy: 0.8710
Epoch 64/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3131 - accuracy: 0.8724
Epoch 65/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3134 - accuracy: 0.8704
Epoch 66/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3143 - accuracy: 0.8708
Epoch 67/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3147 - accuracy: 0.8716
Epoch 68/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3115 - accuracy: 0.8720
Epoch 69/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3128 - accuracy: 0.8731
Epoch 70/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3126 - accuracy: 0.8726
Epoch 71/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3113 - accuracy: 0.8736
Epoch 72/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3124 - accuracy: 0.8716
Epoch 73/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3105 - accuracy: 0.8731
Epoch 74/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3112 - accuracy: 0.8744
Epoch 75/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3110 - accuracy: 0.8719
Epoch 76/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3108 - accuracy: 0.8744
Epoch 77/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3115 - accuracy: 0.8735
Epoch 78/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3099 - accuracy: 0.8740
Epoch 79/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3086 - accuracy: 0.8760
Epoch 80/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3100 - accuracy: 0.8741
Epoch 81/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3075 - accuracy: 0.8725
Epoch 82/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3099 - accuracy: 0.8727
Epoch 83/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3086 - accuracy: 0.8745
Epoch 84/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3072 - accuracy: 0.8763
Epoch 85/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3067 - accuracy: 0.8771
Epoch 86/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3069 - accuracy: 0.8750
Epoch 87/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3067 - accuracy: 0.8764
Epoch 88/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3058 - accuracy: 0.8755
Epoch 89/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3072 - accuracy: 0.8773
Epoch 90/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3044 - accuracy: 0.8759
Epoch 91/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3041 - accuracy: 0.8779
Epoch 92/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3030 - accuracy: 0.8775
Epoch 93/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3039 - accuracy: 0.8760
Epoch 94/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3016 - accuracy: 0.8777
Epoch 95/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3040 - accuracy: 0.8771
Epoch 96/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3010 - accuracy: 0.8767
Epoch 97/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3017 - accuracy: 0.8744
Epoch 98/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3036 - accuracy: 0.8767
Epoch 99/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3022 - accuracy: 0.8781
Epoch 100/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3019 - accuracy: 0.8773